@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol_regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol_regular_italic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol_bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}