* {
  margin: 0px;
  padding: 0px;
}

.band1{
  background-color: #27344a;
  color: white;
  height: 60px;
  position: fixed;

}

.band2{
  background-color: #db9f07;
  color: white;
  height: 60px;
}


h5 {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 1rem;
  font-weight: 400;
}

.style1{
  padding-top: 8rem;
  }

.style3{
  padding-top: 3rem;
  }

.style4{
    padding-bottom: 3rem;
    padding-top: 2rem; 
     }

.style5{
    padding-bottom: 3rem;
    }

.style6{
  padding-bottom: 2rem;
}

.style7{
  padding-top: 2rem;
  }

.style8{
  padding-bottom: 0.5rem;
}

.style9{
  padding-bottom: 6rem;
  }

.names {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-bottom: 4rem;
  color: #27344a;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #27344a;
  font-weight: 700;
  font-size: 30px;
}




h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #27344a;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.6em;
  color: #27344a;
  font-weight: 400;

}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #27344a;
}

/*list {
  color: #27344a;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 1em;
}*/

.space {
  padding-top: 1rem;
}

img {
  width: 100%;
  height: auto;
  margin: 0px;
}

.introduction {
  font-size: 24px;
  font family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  color: #27344a;
  padding-bottom: 3rem;
}

.intropara {
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  color: #27344a;
  padding-bottom: 2rem;
}

.sectiontext {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0px;
}

/*.lists {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 20px;
}*/

ul {
  list-style-type: circle;
   font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 20px;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

imgsection {
  width: 100%;
  height: auto;
  margin: 0px;
}

imghalf {
  width: 20%;
  height: auto;
  margin: 50%;
}

h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  color: #808080;
  padding-top: 1rem;
}

.sidepara {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #27344a;
  padding-top: 3rem;
}

.datasets {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 4rem;
  color: #27344a;
}

.btn {
  font-size: 8px;
}

.end {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #27344a;
  color: white;
}

.logo1 {
  height: auto;
  width: 65%;
  padding-bottom: 1rem;
  margin: 0px;
}

.logo2 {
  height: auto;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.bg0 {
  background-color: #7B97AA;
}

.bg1 {
  background-color: #fbf9e6;
}

.bg3 {
  background-color: #db9f07;
}

hr {
  margin-left: auto;
  margin-right: auto;
  border: 5px;
  width: 10%;
  background-color: #27344a;
}