@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.body{
    background-color: rgb(228,203,220);
}
.clear{
    clear: both;
}

.link{
    font-family: f2;
    text-align: right;
    font-size: 30px;
}
.frame{
    position: centre;
}