*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}

/*
*{
    cursor: url('https://i.ibb.co/H7D7Hpw/cursore1.png'), auto;
}
*/

body {
  color: #7135b6;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  background-color: #d2d2d2;
}

/*Header*/

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3.4rem;
  padding left: 1rem;
  padding-right: 3rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

#changefont1 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 400;
    font-style: italic;
}

.about {
    font-family: 'Work Sans', sans-serif; font-weight: 400;
    padding-left: 0;
    font-size: 16px;
    color: #7135b6;
    padding-top: 0;
    padding-bottom: 1rem;
}

.explanation {
    font-family: 'Work Sans', sans-serif; font-weight: 400;
    padding-right: 2rem;
    font-size: 16px;
    color: #d2d2d2;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

/*Title*/

.about1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 6vh;
  color: #7135b6;
  padding-left: 1vw;
  padding-top: 1vh;

}

/* Sections */

.section-list > .section {
  border-top: 0.2vh solid #7135b6;
  padding: 0;
}

.section .section-info {
  display: flex;
  width: 100%;
  height: 8vh;
  transition: height .5s;
  font-size: 4vh;
  line-height: 2em;
  color: #7135b6;
  text-decoration: none;
}

#margine {
    margin-bottom: 5vh;
}

a {
  color: #7135b6;
}

a:hover {
   color: #7135b6;

}

.section:not(.active):hover > .section-info,
.section.active .section-info {
  height: 10vh;
  box-shadow: 0px -15px 15px -15px #7135b6;
  color: #7135b6;
}

.section-name {
    padding-left: 1vw;
}

.section-number {
    font-family: 'Cormorant Infant', serif;
    font-weight: 500;
    font-style: italic;
    padding: 0;
    text-align: center;
}

.section-visit {
    padding: 0;
    padding-right: 3vw;
    text-align: right;
}

.section .section-content {
  height: 0;
  transition: height .5s;
}

.section.active .section-content {
  height: auto;
}

.text {
  text-align: left;
  padding-left: 1vw;
  padding-right: 3vw;
  padding-top: 1vh;
  padding-bottom: 4vh;
  font-size: 2.5vh;
  height: auto;
  color: black;
}

.italic-link {
    font-weight: 500;
    color: #7135b6;

}

.shape1 {
  display: inline-block;
  padding: 0rem 0.5rem;
  position: relative;
  transform:skew(-15deg);
  border-radius: 0.4rem;
  border: 2px solid;
  border-color: black;
  max-width: 100%;
  font-family: 'Cormorant Infant', serif;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: black;
  margin-bottom: 1rem;
  margin-left: 1rem;
  line-height: 2.5rem;
}

.shapep {
  display: inline-block;
  transform:skew(15deg);
  padding: 0;
  margin: 0;
}

.shape1:hover {
    background-color: #7135b6;
    border-color: #7135b6;
    color: #d2d2d2;

}

.shape2 {
  display: inline-block;
  padding: 0rem 0.5rem;
  position: relative;
  transform:skew(-15deg);
  border-radius: 0.4rem;
  border: 2px solid;
  border-color: #7135b6;
  max-width: 100%;
  font-family: 'Cormorant Infant', serif;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: #7135b6;
  margin-bottom: 1rem;
  margin-left: 1rem;
  line-height: 2.5rem;
}


/*Section 02*/

.row02 {
    margin-bottom: 3vh;
    margin-right: 3vw;
    margin-top: -2vh;
}



/*Section 03*/

#container-01magazines {
    padding-left: 1vw;
    padding-right: 3vh;
    font-size: 2.5vh;
}

input#check01 {
 display: none;
}

label[for="check01"] {

}

#text-01magazines #text01 {
 color: black;
 display: none;
}

input#check01:checked ~ #text01 {
  display: block;
}

#container-02body {
    padding-left: 1vw;
    padding-right: 3vh;
    font-size: 2.5vh;
}

input#check02 {
 display: none;
}

label[for="check02"] {

}

#text-02body #text02 {
 color: black;
 display: none;
}

input#check02:checked ~ #text02 {
  display: block;
}

#container-03art {
    padding-left: 1vw;
    padding-right: 3vh;
    font-size: 2.5vh;
}

input#check03 {
 display: none;
}

label[for="check03"] {

}

#text-03art #text03 {
 color: black;
 display: none;
}

input#check03:checked ~ #text03 {
  display: block;
}

.img03 {
    width: 35vw;
    height: auto;
    margin-right: 2vh;
    box-shadow: 10px 10px 10px -8px black;
}

.img03:hover {
    opacity: 50%;
}

.imgchescorre03 {
    padding-top: 0.5vh;
    padding-bottom: 3vh;
    height: auto;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/*Section 04*/

.img04 {
    width: 35vw;
    height: auto;
}

#imginstagramaim {
    margin-top: 25vh;
    margin-left: 15vw;
    box-shadow: 10px 10px 10px -8px black;
    position: absolute;
    z-index: 8;
    visibility: hidden;
}

#imgnudityguidelines {
    margin-top: 35vh;
    margin-left: 45vw;
    box-shadow: 10px 10px 10px -8px black;
    position: absolute;
    z-index: 7;
    visibility: hidden;
}


/*Section 05*/

.img05 {
    height: 20vh;
    width: auto;
    margin-right: 2vw;
    box-shadow: 10px 10px 10px -8px black;
}

.imgchescorre05 {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 40vh;
    position: absolute;
    height: auto;
    z-index: 9;
    visibility: hidden;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


/*Section 06*/

#text06 {
    padding-bottom: 0.5vh;
}

.img06 {
    height: 30vh;
    width: auto;
    margin-right: 2vw;
    box-shadow: 10px 10px 10px -8px black;
}

.imgchescorre06 {
    padding-top: 0.5vh;
    padding-bottom: 3vh;
    height: auto;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


/*Section 07*/

.row071 {
    margin-bottom: 2vh;
    margin-right: 3vw;
}

.rowanto {
    margin-bottom: 2vh;
    height: 16vh;
    margin-right: 3vw;
    display: none;
}

.rowagne {
    margin-bottom: 2vh;
    height: 16vh;
    margin-right: 3vw;
    display: none;
}

.rowele {
    margin-bottom: 2vh;
    height: 16vh;
    margin-right: 3vw;
    display: none;
}

.rowmatti {
    margin-bottom: 2vh;
    height: 16vh;
    margin-right: 3vw;
    display: none;
}

.rowanna {
    margin-bottom: 2vh;
    height: 16vh;
    margin-right: 3vw;
    display: none;
}

.rowbabu {
    margin-bottom: 2vh;
    height: 16vh;
    margin-right: 3vw;
    display: none;
}

#text07:hover {
    color: black;
}

.gif07 {
    width: 6vw;
    height: auto;
    margin-left: -0.7vw;
    margin-top: 10vh;
}

.team {
    position: absolute;
    height: 15vh;
    width: auto;
    margin-right: 2rem;
    box-shadow: 10px 10px 10px -8px black;
}

.team01 {
    margin-left: 10vw;
    margin-top: -12.5vh;
}

.team02 {
    margin-left: 27.5vw;
    margin-top: -2vh;
}

.team03 {
    margin-left: 45vw;
    margin-top: -15vh;
}

.team04 {
    margin-left: 65vw;
    margin-top: 0vh;
}

.team05 {
    margin-left: 80vw;
    margin-top: -20vh;
}

@media screen and (max-width: 900px) {

.gif07 {
    width: 10vw;
    height: auto;
    margin-top: 5rem;
}

.team01 {
    margin-left: 10rem;
    margin-top: -5rem;
}

.team02 {
    margin-left: 30rem;
    margin-top: -1rem;
}

.team03 {
    display: none;
}

.team04 {
    display: none;
}

.team05 {
    display: none;
}
}

@media screen and (max-width: 600px) {

.gif07 {
    width: 15vw;
    height: auto;
    margin-top: 5rem;
}

.team01 {
    margin-left: 5rem;
    margin-top: -5rem;
}

.team02 {
    margin-left: 15rem;
    margin-top: -1rem;
}

.team03 {
    display: none;
}

.team04 {
    display: none;
}

.team05 {
    display: none;
}
}

/*Section 08*/

.row08 {
    margin-bottom: 2vh;
    margin-right: 3vw;
}

.assistants {
    padding: 0;
    font-size: 4vh;
    line-height: 2em;
}


.loghi {
    margin-left: 1.2vw;
    margin-right: 3vw;
    width: auto;
    height: 10vh;
    margin-bottom: 3vh;
}

/*Bar*/

.marquee1 {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    height: 4vw;
    overflow-x: hidden;
    background-color: #7135b6;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    z-index: 10;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}


.testochescorre {
    color: #d2d2d2;
    font-size: 2vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
.marquee1 {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    height: 4vh;
    overflow-x: hidden;
    background-color: #7135b6;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

    .testochescorre {
    color: #d2d2d2;
    font-size: 3.5vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-top: 0.5rem;
}
}


@media only screen and (min-width: 1921px) and (max-width:2999px) {
.track {
    margin-top: 0.5rem;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite;
}
.title {
    font-family: 'Work Sans', sans-serif; font-weight: 400;
    font-size: 2rem;
    color: #7135b6;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
}
.about {
    font-family: 'Work Sans', sans-serif; font-weight: 400;
    padding-left: 2rem;
    font-size: 1rem;
    color: #7135b6;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
}


/*Media queries*/

@media only screen and (min-width: 3000px) {
    
.section .section-info {
  display: flex;
  width: 100%;
  height: 8vh;
  transition: height .5s;
  font-size: 4vh;
  line-height: 2em;
  color: #7135b6;
  text-decoration: none;
}
    
    .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
color: #7135b6;
        padding-right: 5vh;
}
    .section:not(.active):hover > .section-info,
    .section.active .section-info {
        height: 10vh;
        box-shadow: 0px -30px 30px -30px #7135b6;
        color: #7135b6;
    }
    
    .title {
        font-family: 'Work Sans', sans-serif; font-weight: 400;
        color: #7135b6;
        padding-top: 1.7rem;
        padding-bottom: 1rem;
        padding-left: 5vh;
        font-size:2.5rem;
    }
    
    .about {
        font-family: 'Work Sans', sans-serif; font-weight: 400;
        margin:0;
        padding-left:1vh;
        font-size: 2.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1rem;
        color: #7135b6;
    }
    
    .explanation {
        font-family: 'Work Sans', sans-serif; font-weight: 400;
        font-size: 2.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1rem;
        padding-left:40vh;
    }
    
    .shape1 {
        display: inline-block;
        padding: 0rem 0.5rem;
        position: relative;
        transform:skew(-15deg);
        border-radius: 0.8rem;
        border: 4px solid;
        border-color: black;
        max-width: 100%;
        font-family: 'Cormorant Infant', serif;
        font-size: 5.5em;
        font-weight: 500;
        font-style: italic;
        color: black;
        margin-bottom: 3rem;
        margin-left: 2rem;
        line-height: 6.5rem;
    }
    
    .shapep {
        display: inline-block;
        transform:skew(15deg);
        padding: 0;
        padding-right: 0.7rem;
        margin: 0;
    }
    
    .shape2 {
        display: inline-block;
        padding: 0rem 0.5rem;
        position: relative;
        transform:skew(-15deg);
        border-radius: 0.8rem;
        border: 4px solid;
        border-color: #7135b6;
        max-width: 100%;
        font-family: 'Cormorant Infant', serif;
        font-size: 5.5em;
        font-weight: 500;
        font-style: italic;
        color: #7135b6;
        margin-bottom: 3rem;
        margin-left: 2rem;
        line-height: 6.5rem;
    }
}


@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }

  .section.active .section-content {
    height: auto;
  }
  .section.active .section-content ul {
    height: 100%;
  }
  section-list {
    height: auto;
  }
  .section-slide {
    height: 100%;
  }

    #imginstagramaim {
    margin-top: 35vh;
    margin-left: 15vw;
    box-shadow: 10px 10px 10px -8px black;
    position: absolute;
    visibility: hidden;
}

#imgnudityguidelines {
    margin-top: 55vh;
    margin-left: 45vw;
    box-shadow: 10px 10px 10px -8px black;
    position: absolute;
    visibility: hidden;
}

    .imgchescorre05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 60vh;
    position: absolute;
    height: auto;
    visibility: hidden;
}

}

@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }

  .flex {
    display: block;
  }

  .section.active .section-content {
    height: auto;
  }
  .section .section-info {
    height: 1.9em;
  }

  .section-slide {
    height: 90%;
  }

    #imginstagramaim {
    margin-top: 55vh;
    margin-left: 15vw;
    box-shadow: 10px 10px 10px -8px black;
    position: absolute;
    visibility: hidden;
}

#imgnudityguidelines {
    margin-top: 95vh;
    margin-left: 45vw;
    box-shadow: 10px 10px 10px -8px black;
    position: absolute;
    visibility: hidden;
}

    .imgchescorre05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 80vh;
    position: absolute;
    height: auto;
    visibility: hidden;
}

}
