/*Intro*/
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  background-color: #ea4637;
}
html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

header {
padding:0;

}
#introtarget p{
  color:#ea4637;
  align-items: center;
}

p{
  color: white;
  font-size: 5em;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;

}
.about p a{
  color: #1a1dbf;
  font-weight: 100px;
  font-family: 'Rubik', sans-serif;

}

#recblue{

padding-top:1%;
padding-left:2%;
padding-right:2%;

padding-bottom: 2.3%;
 border: 0.3rem solid black ;

}

#recblue2{

padding-top:1%;
padding-left:2%;
padding-right:2%;

padding-bottom: 0.5%;
background-color: #1a1dbf;
border: 0.3rem solid black ;

}

#recblue2 a{

color: #ea4637;
background-color: #1a1dbf;

}

#recblue2 a:hover {

text-decoration: line-through;

}
#rectangle {
  margin-top: 40%;
  border: 3px solid white ;
  padding: 5px ;
  margin-left: 20%;
  justify-content: center;
  width: 60%;
  align-items: center;
  }

  .rectangle {
    color: #1a1dbf;
    border: 3px solid #ea4637;
    -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor:pointer;
text-shadow: 0.2rem 0.2rem #ea4637;


  }

  .rectangle:hover{
    background-color: white;
    color: #1a1dbf;



  }
#rectangle2{
  border: 0.1rem solid white ;
  padding:10px;
  /*margin-top: 5px;*/
}
.rectangle2{
  border: 0.1% solid black ;
  padding:0.5%;


  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: black;
cursor:pointer;


  /*margin-top: 5px; */
}
.rectangle2b{
  border: 0.1% solid black ;
  padding:0.5%;


  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: black;
cursor:pointer;


  /*margin-top: 5px; */
}
.rectangle2:hover{
  border: 0.3rem solid #ea4637 ;
  color: #ea4637;

}
.rectangle4:hover{
  border: 0.3rem solid #ea4637 ;
  color: #ea4637;
  position: relative;
             top: -0.5rem;
}
.rectangle4{
  padding:3%;
  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: black;
cursor:pointer;

padding-right: 3%;
padding-left: 3%;
padding-top: 3%;




  /*margin-top: 5px; */
}

#rectangle3{
  border: 0.1px solid white ;
  padding:10px;
  margin-bottom: 5px;

}

.mainpage {
  overflow:hidden;
  background-color: #1a1dbf;
  align-content: center;
  padding-left: 6%;
  padding-right:5%;
  margin-top: 0;
  padding-top: 1%;
}

.mainpage h1 {
  margin-top:15%;
  color: #ea4637;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  /*font-size: 5em;*/
  text-shadow: 0.5rem 0.5rem #FFFFFF;
  margin-bottom:10%;
  font-size: 5vw;


}
.mainpage h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  /*font-size: 5em;*/
  margin-bottom:5%;
  font-size: 1.4vw;
color:white;
padding-top:0;
}


.mainpage h2 {
  color: #ea4637;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  /*font-size: 1.3em;*/
  padding-bottom: 5%;
  padding-top: 5%;
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
  font-size: 1.3vw;
  width: 80%;

}
.mainpage p {
  margin-top: 0px;
  margin-bottom: 5%;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  /*font-size: 1.3em;*/
  font-size: 1.3vw;
  width: 95%;
  text-align: justify;

}
.mainpage h3:hover {
  font-family: 'Rubik', sans-serif;
text-align: center;
color: #ea4637;
text-shadow: 0.3rem 0.3rem #ffffff;
z-index:100;


}
.mainpage h3 {
  font-family: 'Rubik', sans-serif;
  /*font-size: 1.05em;*/
  text-align: center;
color: white;
cursor:pointer;
font-weight: 100;
padding-top: 3%;
font-size: 1.2vw;
width: 80%;
font-weight: 600;
text-shadow: 0.3rem 0.3rem #ea4637;

}


.mainpage h4 {
  font-family: 'Rubik', sans-serif;
  /*font-size: 0.9em;*/
margin-bottom: 0;
margin-top: 0;
color: white;
font-weight: 100;
font-size: 1vw;



}
.col-sm-8 {
 justify-content: flex-end;
 margin-left: 20%;

}




header .row {
  display: flex;
  align-items: left;
  background-color: #1a1dbf;

}

header .row2 {
  display: flex;
  align-items: left;
  background-color: ;

}
header h1 {
  font-weight: 200;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;

}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif;

}

header p {
  padding: 0 20px;
  text-size: 1.5em;
  text-decoration: underline;
  color: black;
  font-family: 'Rubik', sans-serif;


}


/*div {
  width: 100%;
  height: 100%;
}*/

#wall {
    height: 0px;
    width: 0px;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    font-size: 2vw;


}
@media screen and (max-width: 1000px), (max-height: 500px) {
  html, body {
         pointer-events: none;
     }
    #mainpage{
display:none;
}
#about{
display:none;
}
#guide{
display:none;
}
    #wall {
      visibility: visible;
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;

      z-index: 500;
      background-color: #1a1dbf;


      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #wall > p {
        max-width: 380px;
        font-size: 2vw;
        line-height: 1.2;
        text-align: center;
        align-self: center;
    }
}

.intro1 {
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: #1a1dbf;
    overflow:hidden;
    /*background-image: url('/images/blue.jpg');*/

  }
  .intro /*background color main page*/{
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #1a1dbf;
      overflow:hidden;

      /*background-image: url('/images/blue.jpg');*/

    }
  .introabout {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #ea4637;
      overflow:hidden;

    }

.introguide{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ea4637;
  overflow:hidden;
}

.introduction {
align-items: center;
padding-top: 0;
margin-top: 0;
z-index:100;
}
.introduction h2{
  margin-top: 0.5%;

  font-family: 'Rubik', sans-serif;


}
.introduction p{
  /*font-size: 1em;*/
  padding-top: 1%;
  margin-bottom: 1%;
  margin-top: 0.5%;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;

}
.video {
  align:right;
  margin-top: 10%;
  margin-bottom: 10%
}


section .row{
  margin-top: 3%;
  padding-right: 0;

}


.col-md-3 {
  padding-bottom: 1%;
padding-right: 10%;
}

#glicth {
padding-top: 18%;
padding-bottom: 10%;
width:65%;
height:65%;
}

video {
    width: 100%;
    height: 100vh;
}


.guide {
background-color: #ea4637;
height: 100%;
width: 100%;
padding-left: 5%;
padding-right: 5%;
overflow: hidden;
padding-bottom: 0;
}

.guide p{
  margin-top: 5%;
  font-size: 1.2vw;
  font-weight: 200;
  font-family: 'Rubik', sans-serif;

}
.guide p a:hover{
  align-items: center;
text-decoration: line-through;
color: #1a1dbf;
}
.guide p a{
  align-items: center;
color: #1a1dbf;
font-weight: 400;
text-decoration: underline;

}

.guide h3 {
color: white;
  font-family: 'Rubik', sans-serif;
  /*font-size: 1.05em;*/
  text-align: right;
cursor:pointer;
font-size: 1.2vw;
width: 100%;
padding-top: 3%;
margin-top: 0;
overflow: hidden;
font-weight: 600;
text-shadow: 0.3rem 0.3rem #1a1dbf;
text-decoration: none;

}

.guide h3 a:hover {
  font-family: 'Rubik', sans-serif;
  /*font-size: 1.05em;*/
cursor:pointer;
text-decoration: none;
color: #1a1dbf;
text-shadow: 0.3rem 0.3rem #FFFFFF;



}

.guide h3:hover {
text-shadow: 0.3rem 0.3rem #FFFFFF;
color: #1a1dbf;

}
.guide h3 a{
color: #ffffff;
text-shadow: 0.3rem 0.3rem #1a1dbf;


}




.fondo1 a:hover{
color: #ea4637;
text-shadow: 0.3rem 0.3rem #ffffff;
text-decoration: none;

}

.fondo1 a{
color: #ffffff;


}

.about {
  background-color: #ea4637;
  align-items: center;
padding-left: 8%;
padding-right: 5%;

}
.about a{
  align-items: center;
color: #1a1dbf;
font-family: 'Rubik', sans-serif;
font-weight: 400;
text-decoration: underline;

}
.about a:hover{
  background-color: #ea4637;
  align-items: center;
text-decoration: line-through;
color: #1a1dbf;
}

.about  p{
margin-top: 2%;
font-size: 1.2vw;
  font-weight: 100;
  font-family: 'Rubik', sans-serif;
  padding-right: 5%;
text-align: justify;


}

.about h1{
  font-size: 5vw;
  font-weight: 600;
  color: #1a1dbf;
  margin-bottom: 10%;
  text-shadow: 0.5rem 0.5rem #FFFFFF;
  font-family: 'Rubik', sans-serif;

}

.about h1:hover{
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 10%;
  text-shadow: 3px 3px #1a1dbf;
  font-family: 'Rubik', sans-serif;

}
.about h2{
  color: #1a1dbf;
  font-size: 1.6vw;
  font-weight: 600;
  margin-bottom: 4.5%;
  text-align: left;
  font-family: 'Rubik', sans-serif;

}

.guide h1{
  font-size: 5vw;
  font-weight: 600;
  color: #1a1dbf;
  margin-top:5;
  text-shadow: 0.5rem 0.5rem #FFFFFF;
  margin-bottom: 5%;
  font-family: 'Rubik', sans-serif;


}
.guide h1:hover{
  font-weight: 500;
  color: #FFFFFF;
  margin-top:5;
  text-shadow: 0.5rem 0.5rem #1a1dbf;
  margin-bottom: 5%;
  font-family: 'Rubik', sans-serif;


}
.guide h2{
  color: white;
  font-size: 1.6vw;
  font-weight: 400;
  margin-top: 0%;
  text-align: left;
  font-family: 'Rubik', sans-serif;
margin-bottom: 0;
}
.about h4{
  padding-top: 10%;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;


}

.partes{
  padding-bottom: 0;
}
.partes p{
  margin-top: 0;
  margin-bottom: 2%;

}

.partes2{
  padding-bottom: 0;
  padding-top:0;
}
.partes3{
  padding-bottom: 10%;
}
.pictures{
  padding-top: 10%;
  padding-bottom: 10%;
  border: 0.1px solid white ;
  padding:10px;
}
.u {
  text-decoration: underline;
  color: #ea4637;
}
.adviceguide{
  padding-top: 10%;
  font-style: italic;
  font-weight: 200;
  overflow: hidden;


}
/*first question*/
.call{
  background-color:#1a1dbf ;
  overflow: hidden;

}
.firstcall p{
  padding-bottom: 5%;
  align-items: center;
}


section #preguntauno .row{
  margin-top: 0;
}

.fondo {
overflow: hidden;
align-items: center;
align-content:center;
  padding-top: 5%;
  padding-bottom: 20%;
  background-color:#1a1dbf ;
  }
  .fondo1 {
  overflow: hidden;
background-color:#1a1dbf ;
align-items: left;
    }

.fondo1 p{
        color: #ffffff;
        font-size: 1.6vw;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        line-height: 2;
        font-weight: 600;
        text-shadow: 0.3rem 0.3rem #ea4637;
padding-top: 45%;

        }
        .fondo1 img{
padding-top: 3%;
margin-top: 0;
display: inline-grid;
margin-left: 3%;
cursor: pointer;

                }

.fondo2 {
  padding-top: 20%;
  padding-bottom: 25%;
  background-color:#1a1dbf ;
  align-items: center;
  font-family: 'Rubik', sans-serif;

    }

.fondo2 p{
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: normal;
    padding-top: 20%;
    margin-left: 10%;
    text-align: left;
    font-weight: 100;


    }
.fondo2 img{
  align-items: center;
  margin-left: 10%;
}
.fondo2 h3{
  align-items: center;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;

}

.fondo p{
  color: white;
font-size: 1.8vw;
font-family: 'Rubik', sans-serif;
font-weight: 400;
text-align: center;
padding-top: 10%;


}

.fondo h3{
color: white;
font-size: 1.4vw;
text-align: center;
font-family: 'Rubik', sans-serif;
font-weight: 600;

}

.fondo3 {
  padding-top: 25%;

  padding-bottom: 25%;
  background-color:#1a1dbf ;

  }
  .fondo3 h3{
    color: white;
    font-size: 1.4vw;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;

  }
  .fondo3 p{
    color: white;
    font-size: 1.6vw;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  padding-top: 10%;

  }

  .fondo2 h3{
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
  }



.icon1{
  padding-top: 10%;
}
/*.container-fluid {
  background: #1a1dbf;
}*/

.row-full {
width: 100vw;
position: relative;
margin-left: -50vw;
height: 100px;
margin-top: 100px;
left: 50%;

}
/*reload*/
#reload {
  padding-top: 0;
  margin-top: 0;
  position: relative;
}
#reload2 {
  padding-top: 0;
  margin-top: 0;
  position: relative;
}
#reload3 {
  padding-top: 0;
  margin-top: 0;
  position: relative;
}
#reload img{
  padding-bottom: 0;
  margin-left: 80%;
  align-items: right;
  margin-top: 0;
  align-content: right;
  margin-right: 0;
  cursor:pointer;
  padding-top: 0;


}
#reload2 img{
  padding-bottom: 0;
  margin-left: 80%;
  align-items: right;
  margin-top: 0;
  align-content: right;
  margin-right: 0;
  cursor:pointer;
  padding-top: 0;


}
#reload3 img{
  padding-bottom: 0;
  margin-left: 80%;
  align-items: right;
  margin-top: 0;
  align-content: right;
  margin-right: 0;
  cursor:pointer;
  padding-top: 0;


}
#reload p{
  margin-right: 10%;
  text-align: right;
  padding-bottom: 0;
  padding-top: 2%;
  cursor:pointer;
  text-shadow: 0.3rem 0.3rem #ea4637;
  font-size: 1.5vw;
  font-weight: 600;
}

#reload p:hover{
  text-shadow: 0.3rem 0.3rem #ffffff;
  color:#ea4637;
  cursor:pointer;
}
#reload2 p{
  margin-right: 10%;
  text-align: right;
  padding-bottom: 0;
  padding-top: 2%;
  cursor:pointer;
  text-shadow: 0.3rem 0.3rem #ea4637;
  font-size: 1.5vw;
  font-weight: 600;
}

#reload2 p:hover{
  text-shadow: 0.3rem 0.3rem #ffffff;
  color:#ea4637;
  cursor:pointer;
}
#reload3 p{
  margin-right: 10%;
  text-align: right;
  padding-bottom: 0;
  padding-top: 2%;
  cursor:pointer;
  text-shadow: 0.3rem 0.3rem #ea4637;
  font-size: 1.5vw;
  font-weight: 600;
}

#reload3 p:hover{
  text-shadow: 0.3rem 0.3rem #ffffff;
  color:#ea4637;
  cursor:pointer;
}
#home img{
  padding-bottom: 0;
  margin-left: 16%;
  padding-top: 0;
  cursor:pointer;

}
#home2 img{
  padding-bottom: 0;
  margin-left: 16%;
  padding-top: 0;
  cursor:pointer;

}
#home3 img{
  padding-bottom: 0;
  margin-left: 16%;
  padding-top: 0;
  cursor:pointer;

}
#home p{
  padding-bottom: 0;
  margin-left: 18%;
  padding-top: 0;
  cursor:pointer;
  text-shadow: 0.3rem 0.3rem #ea4637;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: left;
}
#home2 p{
  padding-bottom: 0;
  margin-left: 18%;
  padding-top: 0;
  cursor:pointer;
  text-shadow: 0.3rem 0.3rem #ea4637;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: left;
}
#home3 p{
  padding-bottom: 0;
  margin-left: 18%;
  padding-top: 0;
  cursor:pointer;
  text-shadow: 0.3rem 0.3rem #ea4637;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: left;
}
#home p:hover{
  text-shadow: 0.3rem 0.3rem #ffffff;
  color:#ea4637;
  cursor:pointer;
}
#home2 p:hover{
  text-shadow: 0.3rem 0.3rem #ffffff;
  color:#ea4637;
  cursor:pointer;
}
#home3 p:hover{
  text-shadow: 0.3rem 0.3rem #ffffff;
  color:#ea4637;
  cursor:pointer;
}

/*footer*/
.footer {
  background-color: #ea4637;
  padding-top: 3%;
  padding-bottom: 5%;
  color: white;
  font-family: 'Rubik', sans-serif;
font-weight: 100;
}
.footer p{
font-size: 1vw;
  font-family: 'Rubik', sans-serif;
font-weight: 100;
}
/*controls*/

video::-webkit-media-controls-panel  {
   background-image: none !important ;
}

/*arrow*/

html body [data-ca3_iconfont="ETmodules"]::before {
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url("../images/seta2red.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-arrow2 {
	background-image: url("../images/seta2.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 4vw;
	width: 5vw;
	margin: 0 0 0 -3vw;
	line-height: 60px;
	position: absolute;
	left: 50%;
  bottom: -10rem;
	color: #ea4637;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}
.ca32-scroll-down-link {
  cursor:pointer;
  height: 50px;
	width: 90px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: -450px;
	color: #ea4637;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

.ca3-scroll-down-link2 {
  cursor:pointer;
	height: 3vw;
	width: 5vw;
	margin: 0 0 0 -5%;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: -2rem;
	color: #ea4637;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}
.ca32-scroll-down-link2 {
  cursor:pointer;
	height: 5vw;
	width: 6vw;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: -450px;
	color: #ea4637;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}


/*color big screen mainpage*/
@media screen and (min-width: 3839px), (min-height: 2159px) {
    /*.intro {
      background-color: #00349C;
    }*/
    .mainpage h2{
      color: #D13015;
    }
    .mainpage h3{
      text-shadow: 0.5rem 0.5rem #D13015;
      z-index: 100;

    }
    .introguide {
      /*background-color: #E11800;*/
background-color: #D13015;
/*background-color: #D12705;*/

    }
    .introabout {
      background-color: #D13015;

    }

    .about{
      background-color: #D13015;

    }

.fat-nav__wrapper {
  background-color: #D13015;

  }
  .fat-nav {
    background-color: #D13015;

    }

  #glicth{
    content: url("../images/glitch2.gif"); no-repeat;
    width: 70%;
    height:70%;
    margin-left: 0;
    align-items: left;
  }

  #firsticon {
    content: url("../images/grid2.gif"); no-repeat;

  }
  #home p{
    text-shadow: 0.3rem 0.3rem #E11800;

  }
  #reload p{
    text-shadow: 0.3rem 0.3rem #E11800;

  }
  #home2 p{
    text-shadow: 0.3rem 0.3rem #E11800;

  }
  #reload2 p{
    text-shadow: 0.3rem 0.3rem #E11800;

  }
  #home3 p{
    text-shadow: 0.3rem 0.3rem #E11800;

  }
  #reload3 p{
    text-shadow: 0.3rem 0.3rem #E11800;

  }
  .rectangle{
    text-shadow: 0.3rem 0.3rem #E11800;

  }

  .fat-nav ul {
    display: table-cell;
    vertical-align: left;
    margin: 40;
    padding-top: 1%;
    margin-top: 1%;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;


  }

  .fat-nav li {
    list-style-type: none;
    text-align: left;
    padding-left: 5%;
    font-size: 5vw;
    padding-top: 1%;
    margin-top: 0.01%;
    font-family: 'Rubik', sans-serif;



  }

  .footer{
    background-color: #D13015;

  }
  .ca3-scroll-down-arrow {
  	background-image: url("../images/seta2red2.png");

  }
  .rectangle2:hover{
    border: 0.3rem solid #D13015 ;
    color: #D13015;

  }
  .rectangle4:hover{
    border: 0.3rem solid #D13015 ;
    color: #D13015;
    position: relative;
               top: -0.5rem;
  }

  #recblue2 a{

  color: #D13015;

  }
.rectangle2b{
  content: url("../images/guide2.png");
  border: 0.1% solid black ;

}

}

/*menu*/
.hamburger {
  display: block;
  width: 3vw;
  height: 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: 1vw;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor:pointer;

}
.hamburger__icon {
  position: relative;
  margin-top: 30%;
  margin-bottom: 10%;
}
.hamburger__icon, .hamburger__icon:before, .hamburger__icon:after {
  display: block;
  width: 2vw;
  height: 0.2vw;
  background-color: #fff;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.hamburger__icon:before, .hamburger__icon:after {
  position: relative;
  content: "";
}
.hamburger__icon:before {
  top: -0.5vw;
}
.hamburger__icon:after {
  top: 0.3vw;
}
.hamburger.active .hamburger__icon {
  background-color: transparent;
}
.hamburger.active .hamburger__icon:before, .hamburger.active .hamburger__icon:after {
  background-color: #fff;
}
.hamburger.active .hamburger__icon:before {
  -moz-transform: translateY(0.5vw) rotate(45deg);
  -ms-transform: translateY(0.5vw) rotate(45deg);
  -webkit-transform: translateY(0.5vw) rotate(45deg);
  transform: translateY(0.5vw) rotate(45deg);
}
.hamburger.active .hamburger__icon:after {
  -moz-transform: translateY(-0.5vw) rotate(-45deg);
  -ms-transform: translateY(-0.5vw) rotate(-45deg);
  -webkit-transform: translateY(-0.5vw) rotate(-45deg);
  transform: translateY(-0.5vw) rotate(-45deg);
}

.fat-nav {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ea4637;
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(0);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.0s;
  -o-transition-duration: 0.0s;
  -webkit-transition-duration: 0.0s;
  transition-duration: 0.0s;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.fat-nav__wrapper {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}
.fat-nav.active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.fat-nav ul {
  display: table-cell;
  vertical-align: left;
  margin: 60;
  padding-top: 2%;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;


}
.fat-nav li {
  list-style-type: none;
  text-align: left;
  padding-left: 5%;
  font-size: 5vw;
  padding-top: 5%;
  margin-top: 20;
  font-family: 'Rubik', sans-serif;



}
.fat-nav li, .fat-nav li a {
  color: #fff;
  font-family: 'Rubik', sans-serif;

}
.fat-nav li a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;

}
.fat-nav li a:hover{
  color:#1a1dbf;
  text-shadow: 0.5rem 0.5rem #ffffff;
  font-family: 'Rubik', sans-serif;

}
/*Wave text*/


#videointroductorio{

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;

}


/*Video1*/
#preguntauno{display:none;}
#preguntados{display:none;}
#preguntatres{display:none;}


#videoContainer2{display:none;}
#videoContainer3{display:none;}
#videoContainer4{display:none;}


/*Video2*/
#preguntaduno{display:none;}
#preguntaddos{display:none;}
#preguntadtres{display:none;}


#videoContainerd2{display:none;}
#videoContainerd3{display:none;}
#videoContainerd4{display:none;}
/*Video3*/
#preguntasuno{display:none;}
#preguntasdos{display:none;}
#preguntastres{display:none;}


#videoContainers2{display:none;}
#videoContainers3{display:none;}
#videoContainers4{display:none;}
/*Video4*/
#preguntaauno{display:none;}
#preguntaados{display:none;}
#preguntaatres{display:none;}


#videoContainera2{display:none;}
#videoContainera3{display:none;}
#videoContainera4{display:none;}
/*Video5*/
#preguntatuno{display:none;}
#preguntatdos{display:none;}
#preguntattres{display:none;}


#videoContainert2{display:none;}
#videoContainert3{display:none;}
#videoContainert4{display:none;}
/*Video6*/
#preguntaouno{display:none;}
#preguntaodos{display:none;}
#preguntaotres{display:none;}


#videoContainero2{display:none;}
#videoContainero3{display:none;}
#videoContainero4{display:none;}



/*Interaction*/
