@media (min-width: 2048px) {

	.alert {
		border-radius: calc(0.5rem*2);
	}

	.modal-content {
		border-radius: calc(0.5rem*2);
	}

	.col-4k {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
	.row-cols-4k-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-4k-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.row-cols-4k-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.row-cols-4k-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.row-cols-4k-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.row-cols-4k-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-4k-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}
	.col-4k-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-4k-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-4k-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-4k-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-4k-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-4k-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-4k-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-4k-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-4k-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-4k-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-4k-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-4k-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.order-4k-first {
		-ms-flex-order: -1;
		order: -1;
	}
	.order-4k-last {
		-ms-flex-order: 13;
		order: 13;
	}
	.order-4k-0 {
		-ms-flex-order: 0;
		order: 0;
	}
	.order-4k-1 {
		-ms-flex-order: 1;
		order: 1;
	}
	.order-4k-2 {
		-ms-flex-order: 2;
		order: 2;
	}
	.order-4k-3 {
		-ms-flex-order: 3;
		order: 3;
	}
	.order-4k-4 {
		-ms-flex-order: 4;
		order: 4;
	}
	.order-4k-5 {
		-ms-flex-order: 5;
		order: 5;
	}
	.order-4k-6 {
		-ms-flex-order: 6;
		order: 6;
	}
	.order-4k-7 {
		-ms-flex-order: 7;
		order: 7;
	}
	.order-4k-8 {
		-ms-flex-order: 8;
		order: 8;
	}
	.order-4k-9 {
		-ms-flex-order: 9;
		order: 9;
	}
	.order-4k-10 {
		-ms-flex-order: 10;
		order: 10;
	}
	.order-4k-11 {
		-ms-flex-order: 11;
		order: 11;
	}
	.order-4k-12 {
		-ms-flex-order: 12;
		order: 12;
	}
	.offset-4k-0 {
		margin-left: 0;
	}
	.offset-4k-1 {
		margin-left: 8.333333%;
	}
	.offset-4k-2 {
		margin-left: 16.666667%;
	}
	.offset-4k-3 {
		margin-left: 25%;
	}
	.offset-4k-4 {
		margin-left: 33.333333%;
	}
	.offset-4k-5 {
		margin-left: 41.666667%;
	}
	.offset-4k-6 {
		margin-left: 50%;
	}
	.offset-4k-7 {
		margin-left: 58.333333%;
	}
	.offset-4k-8 {
		margin-left: 66.666667%;
	}
	.offset-4k-9 {
		margin-left: 75%;
	}
	.offset-4k-10 {
		margin-left: 83.333333%;
	}
	.offset-4k-11 {
		margin-left: 91.666667%;
	}

	.m-4k-0 {
		margin: 0 !important;
	}
	.mt-4k-0,
	.my-4k-0 {
		margin-top: 0 !important;
	}
	.mr-4k-0,
	.mx-4k-0 {
		margin-right: 0 !important;
	}
	.mb-4k-0,
	.my-4k-0 {
		margin-bottom: 0 !important;
	}
	.ml-4k-0,
	.mx-4k-0 {
		margin-left: 0 !important;
	}
	.m-4k-1 {
		margin: calc(0.25rem*2) !important;
	}
	.mt-4k-1,
	.my-4k-1 {
		margin-top: calc(0.25rem*2) !important;
	}
	.mr-4k-1,
	.mx-4k-1 {
		margin-right: calc(0.25rem*2) !important;
	}
	.mb-4k-1,
	.my-4k-1 {
		margin-bottom: calc(0.25rem*2) !important;
	}
	.ml-4k-1,
	.mx-4k-1 {
		margin-left: calc(0.25rem*2) !important;
	}
	.m-4k-2 {
		margin: calc(0.5rem*2) !important;
	}
	.mt-4k-2,
	.my-4k-2 {
		margin-top: calc(0.5rem*2) !important;
	}
	.mr-4k-2,
	.mx-4k-2 {
		margin-right: calc(0.5rem*2) !important;
	}
	.mb-4k-2,
	.my-4k-2 {
		margin-bottom: calc(0.5rem*2) !important;
	}
	.ml-4k-2,
	.mx-4k-2 {
		margin-left: calc(0.5rem*2) !important;
	}
	.m-4k-3 {
		margin: calc(1rem*2) !important;
	}
	.mt-4k-3,
	.my-4k-3 {
		margin-top: calc(1rem*2) !important;
	}
	.mr-4k-3,
	.mx-4k-3 {
		margin-right: calc(1rem*2) !important;
	}
	.mb-4k-3,
	.my-4k-3 {
		margin-bottom: calc(1rem*2) !important;
	}
	.ml-4k-3,
	.mx-4k-3 {
		margin-left: calc(1rem*2) !important;
	}
	.m-4k-4 {
		margin: calc(1.5rem*2) !important;
	}
	.mt-4k-4,
	.my-4k-4 {
		margin-top: calc(1.5rem*2) !important;
	}
	.mr-4k-4,
	.mx-4k-4 {
		margin-right: calc(1.5rem*2) !important;
	}
	.mb-4k-4,
	.my-4k-4 {
		margin-bottom: calc(1.5rem*2) !important;
	}
	.ml-4k-4,
	.mx-4k-4 {
		margin-left: calc(1.5rem*2) !important;
	}
	.m-4k-5 {
		margin: calc(3rem*2) !important;
	}
	.mt-4k-5,
	.my-4k-5 {
		margin-top: calc(3rem*2) !important;
	}
	.mr-4k-5,
	.mx-4k-5 {
		margin-right: calc(3rem*2) !important;
	}
	.mb-4k-5,
	.my-4k-5 {
		margin-bottom: calc(3rem*2) !important;
	}
	.ml-4k-5,
	.mx-4k-5 {
		margin-left: calc(3rem*2) !important;
	}
	.p-4k-0 {
		padding: 0 !important;
	}
	.pt-4k-0,
	.py-4k-0 {
		padding-top: 0 !important;
	}
	.pr-4k-0,
	.px-4k-0 {
		padding-right: 0 !important;
	}
	.pb-4k-0,
	.py-4k-0 {
		padding-bottom: 0 !important;
	}
	.pl-4k-0,
	.px-4k-0 {
		padding-left: 0 !important;
	}
	.p-4k-1 {
		padding: calc(0.25rem*2) !important;
	}
	.pt-4k-1,
	.py-4k-1 {
		padding-top: calc(0.25rem*2) !important;
	}
	.pr-4k-1,
	.px-4k-1 {
		padding-right: calc(0.25rem*2) !important;
	}
	.pb-4k-1,
	.py-4k-1 {
		padding-bottom: calc(0.25rem*2) !important;
	}
	.pl-4k-1,
	.px-4k-1 {
		padding-left: calc(0.25rem*2) !important;
	}
	.p-4k-2 {
		padding: calc(0.5rem*2) !important;
	}
	.pt-4k-2,
	.py-4k-2 {
		padding-top: calc(0.5rem*2) !important;
	}
	.pr-4k-2,
	.px-4k-2 {
		padding-right: calc(0.5rem*2) !important;
	}
	.pb-4k-2,
	.py-4k-2 {
		padding-bottom: calc(0.5rem*2) !important;
	}
	.pl-4k-2,
	.px-4k-2 {
		padding-left: calc(0.5rem*2) !important;
	}
	.p-4k-3 {
		padding: calc(1rem*2) !important;
	}
	.pt-4k-3,
	.py-4k-3 {
		padding-top: calc(1rem*2) !important;
	}
	.pr-4k-3,
	.px-4k-3 {
		padding-right: calc(1rem*2) !important;
	}
	.pb-4k-3,
	.py-4k-3 {
		padding-bottom: calc(1rem*2) !important;
	}
	.pl-4k-3,
	.px-4k-3 {
		padding-left: calc(1rem*2) !important;
	}
	.p-4k-4 {
		padding: calc(1.5rem*2) !important;
	}
	.pt-4k-4,
	.py-4k-4 {
		padding-top: calc(1.5rem*2) !important;
	}
	.pr-4k-4,
	.px-4k-4 {
		padding-right: calc(1.5rem*2) !important;
	}
	.pb-4k-4,
	.py-4k-4 {
		padding-bottom: calc(1.5rem*2) !important;
	}
	.pl-4k-4,
	.px-4k-4 {
		padding-left: calc(1.5rem*2) !important;
	}
	.p-4k-5 {
		padding: calc(3rem*2) !important;
	}
	.pt-4k-5,
	.py-4k-5 {
		padding-top: calc(3rem*2) !important;
	}
	.pr-4k-5,
	.px-4k-5 {
		padding-right: calc(3rem*2) !important;
	}
	.pb-4k-5,
	.py-4k-5 {
		padding-bottom: calc(3rem*2) !important;
	}
	.pl-4k-5,
	.px-4k-5 {
		padding-left: calc(3rem*2) !important;
	}
	.m-4k-n1 {
		margin: calc(-0.25rem*2) !important;
	}
	.mt-4k-n1,
	.my-4k-n1 {
		margin-top: calc(-0.25rem*2) !important;
	}
	.mr-4k-n1,
	.mx-4k-n1 {
		margin-right: calc(-0.25rem*2) !important;
	}
	.mb-4k-n1,
	.my-4k-n1 {
		margin-bottom: calc(-0.25rem*2) !important;
	}
	.ml-4k-n1,
	.mx-4k-n1 {
		margin-left: calc(-0.25rem*2) !important;
	}
	.m-4k-n2 {
		margin: calc(-0.5rem*2) !important;
	}
	.mt-4k-n2,
	.my-4k-n2 {
		margin-top: calc(-0.5rem*2) !important;
	}
	.mr-4k-n2,
	.mx-4k-n2 {
		margin-right: calc(-0.5rem*2) !important;
	}
	.mb-4k-n2,
	.my-4k-n2 {
		margin-bottom: calc(-0.5rem*2) !important;
	}
	.ml-4k-n2,
	.mx-4k-n2 {
		margin-left: calc(-0.5rem*2) !important;
	}
	.m-4k-n3 {
		margin: calc(-1rem*2) !important;
	}
	.mt-4k-n3,
	.my-4k-n3 {
		margin-top: calc(-1rem*2) !important;
	}
	.mr-4k-n3,
	.mx-4k-n3 {
		margin-right: calc(-1rem*2) !important;
	}
	.mb-4k-n3,
	.my-4k-n3 {
		margin-bottom: calc(-1rem*2) !important;
	}
	.ml-4k-n3,
	.mx-4k-n3 {
		margin-left: calc(-1rem*2) !important;
	}
	.m-4k-n4 {
		margin: calc(-1.5rem*2) !important;
	}
	.mt-4k-n4,
	.my-4k-n4 {
		margin-top: calc(-1.5rem*2) !important;
	}
	.mr-4k-n4,
	.mx-4k-n4 {
		margin-right: calc(-1.5rem*2) !important;
	}
	.mb-4k-n4,
	.my-4k-n4 {
		margin-bottom: calc(-1.5rem*2) !important;
	}
	.ml-4k-n4,
	.mx-4k-n4 {
		margin-left: calc(-1.5rem*2) !important;
	}
	.m-4k-n5 {
		margin: calc(-3rem*2) !important;
	}
	.mt-4k-n5,
	.my-4k-n5 {
		margin-top: calc(-3rem*2) !important;
	}
	.mr-4k-n5,
	.mx-4k-n5 {
		margin-right: calc(-3rem*2) !important;
	}
	.mb-4k-n5,
	.my-4k-n5 {
		margin-bottom: calc(-3rem*2) !important;
	}
	.ml-4k-n5,
	.mx-4k-n5 {
		margin-left: calc(-3rem*2) !important;
	}
	.m-4k-auto {
		margin: auto !important;
	}
	.mt-4k-auto,
	.my-4k-auto {
		margin-top: auto !important;
	}
	.mr-4k-auto,
	.mx-4k-auto {
		margin-right: auto !important;
	}
	.mb-4k-auto,
	.my-4k-auto {
		margin-bottom: auto !important;
	}
	.ml-4k-auto,
	.mx-4k-auto {
		margin-left: auto !important;
	}

}