h1{

font-family: "Arial", sans-serif;
font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
  }


h2{
  font-family: "Arial", sans-serif;
  font-weight: 700;
}
h3{
  font-family: "Arial", sans-serif;
  font-weight: 600;
}
h4{
  font-family: "Arial", sans-serif;
  letter-spacing: 0.8px;
}
p{
  font-family: "Arial", sans-serif;
  font-weight: 500;
}


.span1{
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

.fontgray{
  /* color:#424f60; */
    color:#a6a2a1;
}
.section2{
  background-color: #f8f7ec;
}

.section1{
  padding-top: 0rem;
  background: linear-gradient(320deg,#6c63ff,#6c63ff,#F8A4D8,  #6c63ff, #F8A4D8 );
 background-size: 800% 800%;
 -webkit-animation: AnimationName 25s ease infinite;
 animation: AnimationName 25s ease infinite;

 vertical-align: text-bottom;
 color: #ffffff;
}



/* #6c63ff,#6c63ff,#F8A4D8,  #6c63ff, #F8A4D8 紫色 */
/* #3b3759,#aa5377,#cf8da7,  #4c6e81, #7aacb3 深色 */


@-webkit-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

.fl{
  float: left;
}


.titlemt7{
  margin-top: 7rem;
}

.margintop3{
  margin-top: 3rem;
}
.margintop4{
  margin-top: 4rem;
}
.marginbottom3{
  margin-bottom: 3rem;
}
.marginbottom4{
  margin-bottom: 4rem;
}
@media (max-width: 767.98px) {
  #footerlogo1{
    width:30%;
    height:auto;
  }
#footerlogo2{
  padding-left: 35px;
  width:45%;
  height:auto;
}
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

/* @media (min-width: 300px) and (max-width :560px) {
  #footerlogo1{
    min-width:70px;

  }
#footerlogo2{

  min-width:100px;

}

} */

@media (min-width: 768px) and (max-width :1199px) {
  #footerlogo1{
    min-width:100px;

  }
#footerlogo2{

  min-width:150px;

}

}

/* @media (min-width: 1200px) and (max-width :1980px) {
  #footerlogo1{
    min-width:150px;
    height:auto;
  }
#footerlogo2{

  min-width:70%;
  height:auto;
} */

/* } */

@media (min-width: 1200px)  {
  #footerlogo1{
    max-width:100px;
    height:auto;
  }
#footerlogo2{

  min-width:150px;
  height:auto;
}

}


.fontblue{
  color:#efa8d9;
  font-family: Arial;
}
.fontPurple{
  color:#6262f4;
  font-family: Arial;
}
.simple{
  height:0.3px;
}

:root {
  --mainColor: #ff9800;
}


a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
    color: black;
}
