@font-face {
    
    src: url('../font/Inter-SemiBold.otf');
	font-family: Inter-SemiBold;
}

@font-face {
    
    src: url('../font/Inter-Regular.otf');
	font-family: Inter-Regular;
}


.box_footer
{
	width: 80%;
	margin-top: 2%;
}

.logo-density {
  width: 61%; }

.logo-poli {
  width: 90%; }

.footer__list
{
	padding-left: 0px;
	font-size: 16px;
}

ul
{
	list-style-type: none;
}

@media (min-width:  3000px) { 

	.footer__list
	{
		font-size: 27px;
	}
	
	.footer__title
	{
		font-size: 27px;
	}
	.logo-density {
  width: 46%; }

.logo-poli {
	    position: relative;
    right: 132px;
  width: 115%; }
}

