
body {
	background-color: #93caad;
	color: #ffffff;
}

footer li {
	list-style: none;
	margin: 0;
	line-height: 1.5;
    font-size: 0.9em;

}

li {
	list-style: none;
	margin: 0;
        font-size: 0.9em;
}

ul {
	padding:0;
            font-size: 0.9em;
}

nav
{
	background-color: #93caad;
}

.nav1 {
    font-size: 1em;
}


.text-nowrap {
    white-space: nowrap;
}

#right{
    margin-top: -15px;
}

.title{
   font-family: "NotoSansTC-Medium";
	 color:red;
}

.title-group{
	font-family: "NotoSansTC-Regular";
	text-indent: : 1.3em;
  padding-left：60px；
}

.link{
   font-family: "NotoSansTC-Regular";
    color:white;
}

.download{
   font-family: "NotoSansTC-Regular";
    color:black;

}

.introduction {
  font-size: 0.8em;
    line-height: 1px;

}

.bottom_bar
{
	font-family: "NotoSansTC-Medium";
    font-weight: medium;
	font-style: normal;
	font-size: 1.3em;
}
