/* Coolors Exported Palette - coolors.co/1623b7-00ad42-ff6849-ddf8e8-f90093 */

/* HSL */
$color1: hsla(235%, 79%, 40%, 1);
$color2: hsla(143%, 100%, 34%, 1);
$color3: hsla(10%, 100%, 64%, 1);
$color4: hsla(144%, 66%, 92%, 1);
$color5: hsla(325%, 100%, 49%, 1);

/* RGB */
$color1: rgba(22, 35, 183, 1);
$color2: rgba(0, 173, 66, 1);
$color3: rgba(255, 104, 73, 1);
$color4: rgba(221, 248, 232, 1);
$color5: rgba(249, 0, 147, 1);