import @font-face {
	src: "./fonts/DMSans-Regular.tff";
	font-family: "DM Sans";
	font-weight: 400;
}

body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	font-family: "DM Sans", sans-serif;
	color: #313131;
}
