body {
	background-color: #a5bdc6;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

footer li {
	list-style: none;
	margin: 0;
    font-size: 0.9em;
}

li {
	list-style: none;
	margin: 0;
    font-size: 0.9em;
}

ul {
	padding:0;
    font-size: 0.9em;
}

nav {
	background-color: #a5bdc6;
}

/*************** Image loader*************/
#loader {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #FFFFFF;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/******Add animation to page after the loader *****/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 3s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#content {
	display:none;
}

.text-nowrap {
    white-space: nowrap;
}

#right{
    margin-top: -15px;
}

.text_footer{
	font-size: 15px; 
}

.title_footer{
	font-weight:600;
}
/*************MANAGINT THE INFOGRAPHIC*/
img.infographic {
  /* Set rules to fill background */
  min-height: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
}

.linkdata{
    color:white;
}

.download{
    color:white;
	text-decoration: underline;
}

.title_section
{
	font-size: 32px; 
	font-weight:900;
}


#download_icon{
	width: 1rem; 
	margin-right: 0.5rem;
}


/*************************HOVER**********************************/
.title_section_hover:hover
{
	 text-decoration: underline;
	 font-style: italic;
    
}

.download_dataset:hover
{
	color:black;
}

/****MANAGING THE DIMENSION OF TEXT BASED ON THE DIMENSION OF DEVICE SCREEN****/
@media (max-width: 768px) { 

	.navbar {
		font-size:1em;
		font-size: 18px;
		font-weight:900;
	}
		
	.title_infographic {		
		font-size: 35px; 
		font-weight: 600;
	}
	
	.title_group {
		font-size: 18px; 
		line-height: 22px;
		font-weight: 900;		
	}
	
	.description_text {
		font-size: 18px;
		line-height: 23px;
	}
}
    
	
@media (min-width: 769px) { 
	
	.navbar {
		font-size: 0.9em;
		font-weight:900;
	}
	
	.title_infographic{
		font-size: 42px; 
		font-weight: 600;
	}
	
	.title_group {
		line-height: 22px;
		font-size: 17.8px;
		font-weight: 900;
	}

	.description_text {
		font-size: 0.8em;
		line-height: 24px;
	}
}
    


