.img-placeholder {
    background-image: url(../res/img/placeholder.png);
}

.video-placeholder {
    background-image: url(../res/vid/placeholder.mp4);
}

.img-pipi-shia-01 {
    background-image: url(../res/img/pipi-shia-dataset.gif);
}

.img-pipi-shia-02 {
    background-image: url(../res/img/pipi-shia-02.gif);
}

.img-02_Baby {
    background-image: url(../res/img/02_Baby.gif);
}


.img-02_Elon {
    background-image: url(../res/img/02_Elon.gif);
}

.img-06_Natalie {
    background-image: url(../res/img/06_Natalie.gif);
}

.img-pipi-fb {
    background-image: url(../res/img/pipi-fb.jpg);
}

.img-05_Sherlock {
    background-image: url(../res/img/05_Sherlock.gif);
}

.img-05_Arthur {
    background-image: url(../res/img/05_Arthur.gif);
}

.img-07_Indiana {
    background-image: url(../res/img/07_Indiana.gif);
}

.img-07_Andrej {
    background-image: url(../res/img/07_Andrej.gif);
}

.img-08_Bill_hader {
    background-image: url(../res/img/08_Bill_hader.gif);
}

.img-08_Arnold {
    background-image: url(../res/img/08_Arnold.jpg);
}

.img-09_Constance {
    background-image: url(../res/img/09_Constance.gif);
}

.img-09_Yueling {
    background-image: url(../res/img/09_Yueling.gif);
}

.img-10_Andrej {
    background-image: url(../res/img/10_Andrej.gif);
}

.img-10_Arthur {
    background-image: url(../res/img/10_Arthur.gif);
}
