html, body {
  font-size: 1.5vw;
  font-family: 'Raleway', sans-serif;
}

.bgblack {
  background-color: black;
}


h1 {
  font-size: 10rem;
  font-weight: 700;
  text-align: left;
}


.white {
  color: #ffffff;
}

.orange {
  color: #f0801a;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #f0801a;
  -webkit-text-stroke-width: 2px;
}

.video-title {
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-align: left;
}

.video-desc, .video-info {
    font-size: 0.7rem;
    font-family: 'Raleway', serif;
    font-weight: 400;
    text-align: left;
}

.number {
    font-size: 7rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.conclusion-text {
  padding: 5vw 6vw 5vw 6vw;
  width: 100%;
  height:auto;
  white-space: normal;
}

.center {
  text-align: center;
}

.smaller {
  font-size: .6em;
}

.no-height {
  height: auto;
}