html, body, div, h1, h2, h3, p, a {
    font-size: 1vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

html, body {
    background-color: black;
}

.smooth-scroll {
    scroll-behavior: smooth;
}



h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 15rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.detail-text p {
    font-size: .75rem;
}

.last-page{
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    align-self: flex-end;
    background-color: #202020;
}

.disable-touch {
    touch-action: none;
}

.top-navbar {
    z-index: 9999;
    position: fixed;
    background-color: #202020;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    padding: 0px 2.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-navbar a {
    padding: 0px 1vw;
    font-size: 16px;
    line-height: 50px;
}

.top-navbar a:hover {
    background-color: rgba(255, 255, 255, .05);
}

.left-navbar {
    position: fixed;
    width: 50px;
    height: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.left-navbar-element {
    cursor: pointer;
    transition: all .4s ease-out;
    padding-left: 15%;
    line-height: 50px;
    width: 100%;
}

.left-navbar-element p {
    font-size: .75rem;
    color: rgba(255, 255, 255, .5);
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.left-navbar-element p:hover {
    color: white;
}

.left-navbar-element-selected {
    padding-left: 15px;
    border-left: 6px solid #f0801a;
}

.left-navbar-element-selected p {
    color: #f0801a;
}

.viewport {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    padding: 50px 0px 0px 50px;
}

.content-row {
    display: flex;
    flex-wrap: nowrap;
    height: 50%;
    width: 100%;
}

.content-col {
    height: 100%;
    width: 50%;
}

.title-col {
    width: 42.5%;
}

.video-col {
    width: 57.5%;
}

.h60 {
    height: 60%;
}

.h40 {
    height: 40%;
}

.top-sx {
    padding: 5vh 2.5vw 5vh 5vw;
}

.top-dx {
    padding: 5vh 5vw 5vh 2.5vw;
}

.bottom-sx {
    padding: 0vh 2.5vw 5vh 5vw;
}

.bottom-dx {
    padding: 0vh 5vw 5vh 2.5vw;
}

.left-space-5 {
    padding-left: 5vw;
}

.left-space-2_5 {
    padding-left: 2.5vw;
}

.top-space-10 {
    padding-top: 10vh;
}

.top-space-7_5 {
    padding-top: 7.5vh;
}

.top-space-5 {
    padding-top: 5vh;
}

.top-space-2_5 {
    padding-top: 2.5vh;
}

.right-space-5 {
    padding-right: 5vw;
}

.video-container {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video-adapt {
    height: 100%;
}

.video-adapt-w {
    height: 100%;
    max-width: 100%;
}

.rescale {
    width: 70vw;
    height: 70vh;
}

.image-adapt {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
}


.main {
    display: block;
}

.title, title.h1 {
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #f0801a;
    -webkit-text-stroke-width: 2px;
}

.subtitle, .subtitle h3 {
    font-size: 3rem;
}

.image-container {
    height: 100%;
}

.image {
    width: 13.5vw;
    height: 20vh;
    background-color: #f0801a;
}

.image-desc p {
    padding: 1vh 0;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

.detail-row, .tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.border-bottom {
    border-bottom: 1px solid #f0801a;
}

.detail-col {
    width: 50%;
}

.interactive-detail-col {
    width: 100%;
}

.button {
    transition: all .25s ease;
    cursor: pointer;
    height: 5vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process {
    width: 15%;
    overflow: hidden;
}

.button-selected {
    border-bottom: 4px solid #f0801a;
    font-weight: 700;
    background-color: rgba(240, 128, 26, .25);
}

.button:hover {
    background-color: rgba(255, 255, 255, .125);
}

.icon-group {
    display: flex;
    align-items: center;
    padding-bottom: 2.5vh;
}

.detail-text {
    padding-left: 1vw;
    max-width: 20vw;
}

.interactive-detail-text {
    padding-left: 1vw;
}

.ico {
    height: 2.5vw;
    width: 2.5vw;
}

.img-responsive {
    width: 100%;
}

.logo {
    height: 8vh;
}

.orange, .orange p {
    color: #f0801a;
}

.white {
    color: white;
}

a {
    cursor: pointer;
    color: #f0801a;
}

a:visited {
    color: #f0801a;
}

a:hover {
    color: white;
}

.container-protocol {
    padding: 1.25vw 5vw 0vw 5vw;
}

.protocol-sidebadr {
    position: absolute;
    width: 13%;
    background-color: white;
    padding-top: 3.6%;
}

.protocol-sidebar-element {
    padding: 5px;
    text-align: end;
    border-right: 3px solid #f0801a;
}

.protocol-sidebar-label {
    position: sticky;
    top: 50px;
    color: #f0801a;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-right: 2.5%;
}

#spacing {
    height: 1%;
}

#components {
    height: 13%;
}

#preparation {
    height: 26%;
}

#traininig {
    height: 36%;
}

#result {
    height: 16%;
}

#postproduction {
    height: 4%;
}

svg {
    width: 100%;
    height: auto;
}

.dark {
    filter: brightness(0);
}

.navbar-adjustment {
    padding: 50px 0px 0px 50px;
}

.space-sm-1 {
    padding-bottom: 1rem;
}
.space-sm-2 {
    padding-bottom: 2rem;
}
.space-sm-3 {
    padding-bottom: 3rem;
}
.space-sm-4 {
    padding-bottom: 4rem;
}
.space-sm-6 {
    padding-bottom: 6rem;
}

.col-sm-count-1 {
    column-count: 1;
}
.interactive-video {
    height: 100%;
}

.translate-100 {
    transform: translate(-100);
}

.source-text p, .source-text a, .source-text, .source-text strong, .source-text br {
    font-size: .75rem;
}

.h25 {
    height: 25%;
}

.h75 {
    height: 75%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33.333333%;
}

.w25 {
    width: 25%;
}

.w66 {
    width: 66.66666666%;
}

.w75 {
    width: 75%;
}

.padding50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding50-top {
    padding-top: 50px;
}
