body, div, h1, p, img {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.container {
    margin: 0px;
    padding: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
}

.video-text-container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.video-title {
    font-size: 50px;
}

.video-desc {
    padding-top: 2.5vh;
    font-size: 30px;
}

.img-container {
    margin-top: 2.5vw;
    float: left;
}

.img-small {
    width: 11.25vw;
    height: 8vw;
    margin-right: 1.25vw;
}

.img-adapt {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.video-player-container {
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
    height: 30vw;
    width: 100%;
}

.scale-2 {
    transform: scale(1.3);
}

.scale-1 {
    width: 100%;
    height: auto;
}

.img-container {
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    overflow-x: hidden;
}

.col-video-desc {
    white-space: normal;
    float: left;
    height: 100%;
    width: 35vw;
    overflow: hidden;
}

.col-video-player {
    display: inline-block;
    width: 55vw;
    height: 100%;
}

.video-main {

    transition: all .125s linear;
    height: 100%;
    width: 90vw;
    display: inline-block;
    overflow: hidden;
}

.video-info {
    white-space: normal;
    background-color: rgba(255,255,255,.1);
    height: 100%;
    width: 40vw;
    display: inline-block;
}

.content {
    white-space: nowrap;
    height: 100%;
}

.normal {
    width: 100%;
}

.wide {
    width: 150vw;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.button {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0801a;
    color: white;
    text-align: center;
    width: 2vw;
    height: 20vw;
    border-radius: 0vw;

    line-height: 0px;
    transition: all .125s ease;

}

.button:hover {

    height: 22.5vw;
    background-color: #f8b67a;
}

.number {
    overflow: visible !important;
    white-space: nowrap !important;
    width: 16vw;
    line-height: 16vw;
}

video {
    max-width: 100%;
}

.video-row {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-imgs {
}

.icons-row {
    padding: 1.25vw 2.5vw 1.25vw 2.5vw;
    height: auto;
}

.icon {
    max-height: 3.33vw;
    width: auto;
    min-width: 5px;
    max-width: 3.3vw;
    padding: 0px;
    margin: 0px;
}


.icon-desc-row {
    white-space: normal;
    padding-right: 7.5vw;
    padding-left: 2.5vw;
}

.icon-desc {
    color: white;
    font-size: .5rem;
    background-color: #f0801a;;
    height: 0px;
    overflow: hidden;
}

.icon-desc#skin_color,
.icon-desc#edges,
.icon-desc#expression,
.icon-desc#blur,
.icon-desc#profile,
.icon-desc#flicker,
.icon-desc#perspective,
.icon-desc#occlusion
{
    padding: 0px 1.25vw 0px 1.25vw;
    overflow: hidden;
    transition: all .125s ease;
}

#minus {
    transform: translateY(-.33vw);
}

.info-tech-text {
    padding: 5vw 5vw 2.5vw 5vw;
    min-height: 5vw;
}

.info-graph {
    padding: 1.25vw 5vw 2.5vw 5vw;
    min-height: 5vw;
}

.grap {
    width: 100%;
}

.info-additional {
    font-size: .7em;
    border-top: 1px solid;
    padding: 2.5vw 0vw;
    margin: 0vw 5vw;
    min-height: 5vw;
    border-color: #f0801a;
}


.left {
    float: left;
}

.right {
    width: 100%;
    text-align: end;
    padding-right: 2.5vw;
}

a, a:visited {
    color: #f0801a;
    text-decoration: underline;
}

a:hover {
    color: white;
}

.margin-left-2_5 {
    margin-left: 2.5vw;
}

.video-desc-container {
    display: inline-block;
    white-space: nowrap
}

.left-navbar {
    position: fixed;
    height: 100vh;
    width: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    display: none;
}

.navbar-element {
    width: 1.25vw;
    height: 1.25vw;
    background-color: rgba(255, 255, 255, .25);
}

.interactive {
    height: auto;
    padding: 50 0 50 0;
}

.video-interactive-container {
    height: auto;
}

.translate-100 {
    transform: translateY(-100%);
}

.translate-200 {
    transform: translateY(-200%);
}

.translate-300 {
    transform: translateY(-300%);
}

.translate-400 {
    transform: translateY(-400%);
}

.translate-500 {
    transform: translateY(-500%);
}

.video-collection {

}

.video-controls {
    min-height: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ivana-anne {
    margin: 0 1.25vw;
    height: 100%;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: .75em;
}

.icon-text {
    text-align: center;
}

.graph{
    width: 100%;
    height: auto;
  }

  .dot {
      width: 1.25vw;
      height: 1.25vw;
      background-color: rgba(255,255,255,.25);
      border-radius: 100%;
      margin: 1.25em;
  }

  .dot-active {
      background-color: #f0801a;
  }

.top-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    height: 2.5vw;
    min-height: 50px;
    background-color: rgba(255,255,255,.1);
    position: absolute;
    padding: 0 2.5vw 0 2.5vw;
}

.top-navabar-item {
    margin: 1.25vw;
}

.about-paragraph {
    margin: 2.5vw 5vw 2.5vw 10vw;
    max-width: 50vw;
    font-size: .8em;
}

.spacing {
    min-height: 50px;
    height: 5vw;
}

.about-title {
    margin: 2.5vw 5vw 2.5vw 10vw;
}

html, body {
    touch-action: none;
}

.intro, .video-intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    padding-top: 2.5vh;
}

.title {
    margin-top: 5vh;
    padding: 25px;
    font-size: 10rem !important;
    line-height: 10rem;
}

.subtitle {
    padding: 1.25vw 2.5vw;
    font-size: 5vh;
    color: rgba(255,255,255, 0.5);
     font-family: 'Playfair Display', serif;
     font-weight: 700;
     text-align: left;
}

.video-int {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#plus, #minus {
    line-height: 20vw;
}

/* FOOTER */

/* footer padding */
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

  /*three rem pudding bottom for xs columns*/
  .space-sm-3 {
    padding-bottom: 1rem;
  }

  /* logo style */
.logo {
    margin: 0;
    height: 50px;
  }

  .download{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icondown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
  }

  .logdown{
    padding: 0;
  }
  
  .down {
    padding: 0;
  }

  .downtext{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /* .container2 {
    margin: 0px;
    padding: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    display: inline-block;
    overflow: hidden;
  } */