body, div, h1, p, img {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-size: 1.75vw;
    font-family: 'Raleway', sans-serif;
    color: black;
  }

body {
    background-color: white;
}

a, a:visited {
    color: #f0801a;
    text-decoration: underline;
}

a:hover {
    color: black;
}

.top-navbar {
    position: fixed;
    transform: translateY(-50px);
    color: black;
    background-color: rgba(128, 128, 128, .1);
}  

.container-protocol {
    padding: 1.25vw 5vw 0vw 5vw;
}

svg {
    width: 100%;
    height: auto;
}

.number {
    margin-top: 50px;
    display: block;
    padding: 0vw 5vw 0vw 5vw;
}